html
  head 
    title User List 
    link(href="/styles.css" rel="stylesheet")
    block headContent 
  body 
    h1 Users List 
    div.navbar
      a(href="/") Home page 
    h2 Available users: 
    block content  